<div class="sidebar">
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >
      <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
      <li class="nav-item">
        <a href="/public/vendor/admin-lte/iframe.html" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-header">ORDER</li>
      <li class="nav-item">
        <a href="/public/vendor/admin-lte/pages/calendar.html" class="nav-link">
          <i class="nav-icon far fa-calendar-alt"></i>
          <p>
            Booking
            <span class="badge badge-info right">2</span>
          </p>
        </a>
      </li>
      <li class="nav-header">MASTER</li>
      <li class="nav-item">
        <a href="/master/category" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>Category</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/master/place" class="nav-link">
          <i class="nav-icon fas fa-tree"></i>
          <p>Place</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/master/bank" class="nav-link">
          <i class="nav-icon fas fa-landmark"></i>
          <p>Bank</p>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
