<div class="card">
  <div class="card-header d-flex align-items-center">
    <button
      type="button"
      class="btn bg-gradient-primary btn-sm"
      data-toggle="modal"
      data-target="#sc-modal"
      data-content-type="form"
      data-content-source="/master/category/_form"
    >
      <i class="fas fa-plus"></i>
      New Data
    </button>

    <div class="card-tools"></div>
  </div>
  <div class="card-body p-0">
    <table id="table" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Is Highlight</th>
          <th>Is Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for(let category of categories) { %>
        <tr>
          <td>
            <strong><%= category.name %></strong>
            </br>
            <%= category.slug %>
          </td>
          <td>
            <% if(category.is_highlight) { %>
            <span class="right badge badge-success">highlight</span>
            <% } %>
          </td>
          <td>
            <% if(category.is_active) { %>
            <span class="right badge badge-success">active</span>
            <% } else { %>
            <span class="right badge badge-danger">not active</span>
            <% } %>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm"
              data-toggle="modal"
              data-target="#sc-modal"
              data-content-type="form"
              data-content-source="/master/category/_form/<%= category.id %>"
            >
              <i class="fa fa-pen"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-danger btn-sm"
              data-toggle="modal"
              data-target="#sc-modal"
              data-content-type="confirmation-delete"
              data-content-target="/master/category/<%= category.id %>?_method=DELETE"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
  <!-- <div class="card-footer"></div> -->
  <!-- /.card-footer-->
</div>
